@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Smooch&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Oleo Script Swash Caps', curvise;
    font-family: 'Smooch', ;
}

html, body{
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    background: url(/image/about-04.webp) no-repeat ;
    background-size:cover;
}

.row{
    margin-left: 4rem;
    margin-top: 5rem;
}
.row ::after{
    content: "";
    display: block;
    clear: both;
}

.row .content {
    box-sizing: border-box;
    border-radius: 2rem;
}
.row .side-nav{
    box-sizing: border-box;
    border-radius: 2rem;
}

.row div{
    float: left;
    height: 30rem;
    padding: 3rem;
}

.side-nav{
    width: 20%;
    background: rgb(134, 224, 134);
    opacity: 0.5;
}
.side-nav li, a{
    font-size: 1rem;
    justify-content: space-between;
    font-weight: bolder;
}
.content{
    width: 70%;
    background:hsl(36, 33%, 97%) ;
    opacity: 0.6;
}
.content h3{
    color: black;
    
}
.side-nav, ul{
    list-style-type: none;
    padding: 0;
    line-height: 175%;

}
.side-nav, ul, li, a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}
.side-nav, ul, li, a:hover{
    color: #eee;
    transition: 1s;
}