@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Smooch&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oleo Script Swash Caps', curvise;
    font-family: 'Smooch', ;
}
.contact {
  position: relative;
  min-height: 98.5vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/image/about-02.jpg);
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 50px;
  font-weight: 500;
  color: black;
}
.content h4 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.content p {
  font-size: 20px;
  font-weight: 100;
  color: black;
}
.rtn-btn {
  text-transform: capitalize;
  list-style: none;
  padding: 0;
  line-height: 80%;
  background-color: rgb(34, 99, 34);
}
.rtn-btn a{
  color: #eee;
  text-decoration: none;
  font-weight: 1rem;
  margin-left: 2rem;
}

.container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: black;
}
.contactForm {
  width: 40%;
  padding: 40px;
  color: #fff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: black;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
  }
}
